{% extends 'core/base.html' %}

{% block title %}Schedule{% endblock %}

{% block content %}
<div class="container">
    <h2>Attendance</h2>
    
        <div>
            <a href="{% url 'check_in' %}" 
               class="btn btn-success {% if attendance.checked_in %}disabled{% endif %}">
               Check In
            </a>
            
            <a href="{% url 'check_out' %}" 
               class="btn btn-danger {% if not attendance.checked_in or attendance.checked_out %}disabled{% endif %}">
               Check Out
            </a>
        </div>
        <p>No attendance record found for today.</p>
</div>

<div id="calendar-container">
    <div id="calendar"></div>
</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            selectable: true,
            dateClick: function(info) {
                var selectedDate = info.dateStr;
                alert('Date clicked: ' + selectedDate);
            }
        });
        calendar.render();
    });
</script>
{% endblock %}
